body, #root, .main-bg {
  min-height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: linear-gradient(120deg, #e3eafc 0%, #cfd9df 100%);
  display: flex;
  flex-direction: column;
}